<section>
  <div class="row credits">
    <div class="span12">
      <div class="page-header">
        <h2>Der Party</h2>
      </div> 
      <p>Herrs Lever, McAlilly & Reed</p>
    </div>
  </div>

  <div class="row credits">
    <div class="span12 song">
      <div class="page-header">
        <h2>Das Kreditz</h2>
      </div>
      <h3><em>Into Old Germany</em></h3>
      <p><strong>Vokals:</strong> Herrs McAlilly &amp; Reed</p>
      <p><strong>Synth:</strong> Ze Grand Floridian &amp; Schlitzveiss</p>
      <p><strong>Bass &amp; Rhyzm:</strong> Ze Blakk Panzer</p>
    </div>
  
    <div class="span12 song">
      <h3><em>Immanuel Kant Dance</em></h3>
      <p><strong>Synths:</strong> Ze Grand Vloridian, Ze Blakk Panzer &amp; Schlitzveiss</p>
    </div>
  
    <div class="span12 song">
      <h3><em>Germ Fever</em></h3>
      <p><strong>Vokals:</strong> Der Party feat. Lil' Frau Wow</p>
      <p><strong>Synth:</strong> Ze Blakk Panzer</p>
      <p><strong>Bass:</strong> Ze Grand Vloridian</p>
      <p><strong>Guttarr:</strong> Ze Grand Vloridian &amp; Schlitzveiss</p>
      <p><strong>Rhyzm:</strong> Matt Welch (Das Boot)</p>
    </div>
  
    <div class="span12 song">
      <h3><em>Looking Zuper Martin Luther</em></h3>
      <p><strong>Synths:</strong> Ze Grand Vloridian, Ze Blakk Panzer &amp; Schlitzveiss</p>
    </div>
  
    <div class="span12 song">
      <h3><em>Sausage &amp; Borscht</em></h3>
      <p><strong>Vokals:</strong> Friedrich Ze Great</p>
      <p><strong>Synth:</strong> Au Bon PainKiller, DeutcheFlank Steak &amp; Redd Hillendorphen IV</p>
      <p><strong>Rhyzm:</strong> Phat Albert Timestein</p>
    </div>
  </div>
</section>