<section>
  <div class="row">
    <div class="span12">
      <div class="page-header">
        <h2>Der Party</h2>
      </div> 
      <p>Herrs Lever, McAlilly &amp; Reed</p>
    </div>
  </div>
</section>