<section>
  <div class="pink_top">  
    <div class="row">
      <div class="hero-unit">
        <%= image_tag "der_party.gif", :alt => "welcome to der party"%>
        <h1>Willk&ouml;mmen to Der Party</h1>
        <h2><a class="btn btn-primary">Download ze Musik</a></h2>
      </div>
    </div>
  </div>
</section>