<section>
  <div class="row credits">
    <div class="span12">
      <div class="page-header">
        <h2>Das Lyrics</h2>
      </div>
    </div>
  </div>
      
  <div class="row">
    <div class="span12 song">
      <h3><em>Into Old Germany</em></h3>
      <p>Welcome!</p>
    </div>
  </div>
  
  <div class="row">
    <div class="span12 song">
      <h3><em>Immanuel Kant Dance</em></h3>
      <p>...</p>
    </div>
  </div> 
  
  
  <div class="row">
    <div class="span12 song">
      <h3><em>Germ Fever</em></h3>
      <p>...</p>
    </div>
  </div>
  
  <div class="row">
    <div class="span12 song">
      <h3><em>Looking Zuper Martin Luther</em></h3>
      <p>...</p>
    </div>
  </div>
    
  <div class="row">
    <div class="span12 song">
      <h3><em>Sausage &amp; Borscht</em></h3>
      <p>...</p>
    </div>
  </div>
</section>