<section>
  <div class="row">
    <div class="span12">
      <div class="page-header">
        <h2>Das Lyriks</h2>
      </div>
    </div>
  </div>
      
  <div class="row">
    <div class="span12 song">
      <h3><em>Immanuel Kant Dance</em></h3>
      <p>...</p>
    </div>
  </div> 
  
  <div class="row">
    <div class="span12 song">
      <h3><em>Germ Fever</em></h3>
     
      <p>Ze party’s hot<br>
      Ze floor is jammed<br>
      When we roll in like panzers<br>
      Scorch the earth<br>
      The Eastern front<br>
      Secured by German danzers.</p>

      <p>Shorty stare<br>
      At our blonde hair<br>
      Rain down like yellow fire<br>
      Put on your mask<br>
      No time to ask<br>
      This virus you acquire!</p>

      <p>Germs: Electronic.<br>
      Source: Teutonic.<br>
      Beats: Bubonic.<br>
      Dance: Demonic.<br>
      Germs: Electronic.<br>
      Source: Teutonic.<br>
      Beats: Bubonic.<br>
      Dance: Demonic.</p>

      <p><em>Zis girl ist sick<br>
      Don’t wash your hands<br>
      Bavarian believer<br>
      Frau’s heating up<br>
      And breaking out<br>
      Running ze Germ Fever</em></p>

      <p>Doctors cannot<br>
      Quarantine<br>
      Infections by ze second<br>
      Yankee girl<br>
      Just turned nineteen<br>
      Will follow when vee beckon</p>

      <p>Will you run<br>
      Or will you wait<br>
      For zees dance diseases<br>
      Ze Germs are here<br>
      You only fear<br>
      You won’t go home wit meezus.</p>

      <p>Germs: Electronic.<br>
      Source: Teutonic.<br>
      Beats: Bubonic.<br>
      Dance: Demonic.<br>
      Germs: Electronic.<br>
      Source: Teutonic.<br>
      Beats: Bubonic.<br>
      Dance: Demonic.</p>

      <p><em>Zis rave ist ill<br>
      It moves at will<br>
      Infection will receive her<br>
      We plague ze club<br>
      And pass ze bug<br>
      Spreading ze Germ Fever</em></p>

      <p>You wave white flag<br>
      When lights come on<br>
      Absolut submission<br>
      Our lightening moves<br>
      Are striking you<br>
      Igniting nuclear fission.</p>

      <p>Atoms split<br>
      Ze DJ spins<br>
      Ostrogothic four-square<br>
      Zis club is ours!<br>
      It’s not ze SARS<br>
      Ist German rhythmic warfare!</p>

      <p>Germs: Electronic.<br>
      Source: Teutonic.<br>
      Beats: Bubonic.<br>
      Dance: Demonic.<br>
      Germs: Electronic.<br>
      Source: Teutonic.<br>
      Beats: Bubonic.<br>
      Dance: Demonic.</p>

      <p><em>Zis rave ist ill<br>
      It moves at will<br>
      Infection will receive her<br>
      We plague ze club<br>
      And pass ze bug<br>
      Spreading ze Germ Fever</em></p>
    </div>
  </div>
  
  <div class="row">
    <div class="span12 song">
      <h3><em>Looking Zuper Martin Luther</em></h3>
      
      <p>Here he strides down ze hill<br>
      Walking wiz a purpose<br>
      Looking left, turning right<br>
      Marching toward ze churches.</p>

      <p>What is zat in his hand?<br>
      What vision does he sees?<br>
      The menace of the Catholic Church<br>
      Za Nienty-Five Theses!</p>

      
      <p><em>Looking Zuper Martin Luther<br>
      Quite the kraut sensation!<br>
      Looking like a man who might<br>
      Construct a Reformation!</em></p>

      <p><em>Looking Zuper Martin Luther<br>
      Your theory sweeps the nation!<br>
      But for you a new dance too:<br>
      The Excommunication!</em></p>

      <p>Paying steep indulgences<br>
      For sins that were committed<br>
      Were the acts that finally snapped<br>
      The frock that Marty knitted.</p>

      <p>So Martin said, “Salvation<br>
      Comes for free from God”<br>
      But the Pope did not enjoy<br>
      This lure from Marty’s rod.</p>

      <p><em>Looking Zuper Martin Luther<br>
      Quite the kraut sensation!<br>
      Looking like a man who might<br>
      Construct a Reformation!</em></p>

      <p><em>Looking Zuper Martin Luther<br>
      Your theory sweeps the nation!<br>
      But for you a new dance too:<br>
      The Excommunication!</em></p>

      <p>Ze Holy Roman Emperor<br>
      Was simply unimpressed<br>
      He banished Martin Luther<br>
      But our hero weren’t depressed</p>

      <p>He made us Germs Protestants<br>
      Lutherans &ndash; hear ze calls!<br>
      And when they say, “For sins you pay,”<br>
      We Sing of Martin's Balls!</p>
    </div>
  </div>
  
  <div class="row">
    <div class="span12 song last">
      <h3><em>Into Old Germany</em></h3>
      <p>Velcome!</p>
     
      <p>Come along<br>
      Join with me<br>
      Our reverie<br>
      In Germany!</p>

      <p>We will dance<br>
      We will sing<br>
      Living free<br>
      In Germany</p>

      <p>Thru the Rhineland<br>
      Thru the highlands<br>
      Thru the lowlands<br>
      Of our homeland</p>

      <p>Take my hand<br>
      Come with me<br>
      By field & stream<br>
      In Germany</p>

      <p>Oh the things<br>
      We will seeeeeeeeee<br>
      Walking free<br>
      Thru Germany</p>
    </div>
  </div>
    
  <div class="row">
    <div class="span12 song">
      <h3><em>Sausage &amp; Borscht</em></h3>
      
      <p>Sausage and Borscht<br>
      Sausage and Borscht<br>
      Every morn it’s Sausage and Borscht</p>

      <p>Beets and Cream<br>
      Beets and Cream<br>
      Every luncheon my favorite cuisine</p>

      <p>But when ze moon<br>
      Rises over ze Rhine<br>
      Zhere’s only one tune<br>
      That plays in my stein&hellip;</p>

      <p>Drink, Drink, Drink mine Bock<br>
      Pour, Pour, Pour, nine stop!<br>
      Swig, Swig, Swig your Ale<br>
      And don’t leave the haus til you’ve emptied your pail.</p>

      <p>Stew and wurst<br>
      Stew and wurst<br>
      Noshing so much my tummy may burst</p>

      <p>Spargel and cheese<br>
      Spargel and cheese<br>
      Pass me the seltzer, won’t you pretty please?</p>

      <p>But when ze dark<br>
      Blitzes ze day<br>
      Zis German shark<br>
      Shall circle it’s prey&hellip;</p>

      <p>Drink, Drink, Drink mein Bock<br>
      Pour, Pour, Pour, nine stop!<br>
      It’s “Eins, Zwei Drie down ze hole, and<br>
      Don't leave ze bar til your insides are full"</p>

      <p>Dumplings and tarts<br>
      Dumplings and tarts<br>
      All mine desserts rolled to me in karts!</p>

      <p>Pumpkin and rye<br>
      Pumpkin and rye<br>
      Pigging and Porking like pig in ze sty!</p>

      <p>But when ze shops<br>
      Close for ze night<br>
      Zis salty chop<br>
      Will swill til ze light&hellip;</p>

      <p>Drink, Drink, Drink mine Bock<br>
      Pour, Pour, Pour, nine stop!<br>
      It’s Slurp, Slop, and Sleep til ze morn<br>
      Til pain goes away and our thirst is reborn!</p>

      <p>Drink, Drink, Drink mine Bock<br>
      Pour, Pour, Pour, nine stop!<br>
      Swig, Swig, Swig your Ale<br>
      And don’t leave the haus til you’ve emptied your pail.</p>
    </div>
  </div>
</section>