<section>
  <div class="row credits">
    <div class="span12">
      <div class="page-header">
        <h2>Das Picture Haus</h2>
      </div>
    </div>
  </div>
      
  <div class="row">
    <div class="photo span12">
      <%= image_tag "der_party.gif", :alt => "welcome to der party"%>
    </div>
    
    <div class="photo span12">
      <%= image_tag "der_party.gif", :alt => "welcome to der party"%>
    </div>
  </div>    
</section>