<section>
  <div class="pink_top">  
    <div class="row">
      <div class="hero-unit">
        <%= image_tag "der_party.gif", :alt => "welcome to der party"%>
        <h1>Willk&ouml;mmen to Der Party</h1>
        <h2><a class="btn btn-primary">Download the EP</a></h2>
      </div>
    </div>
  </div>
</section>

<div class="container">  
  <section>
    <div class="row credits">
      <div class="span12">
        <div class="page-header">
          <h2>Der Party</h2>
        </div> 
        <p>Herrs Lever, McAlilly & Reed</p>
      </div>
    </div>
  
    <div class="row credits">
      <div class="span12 song">
        <div class="page-header">
          <h2>Das Kreditz</h2>
        </div>
        <h3><em>Into Old Germany</em></h3>
        <p><strong>Vokals:</strong> Herrs McAlilly &amp; Reed</p>
        <p><strong>Synth:</strong> Ze Grand Floridian &amp; Schlitzveiss</p>
        <p><strong>Bass &amp; Rhyzm:</strong> Ze Blakk Panzer</p>
      </div>
    
      <div class="span12 song">
        <h3><em>Immanuel Kant Dance</em></h3>
        <p><strong>Synths:</strong> Ze Grand Vloridian, Ze Blakk Panzer &amp; Schlitzveiss</p>
      </div>
    
      <div class="span12 song">
        <h3><em>Germ Fever</em></h3>
        <p><strong>Vokals:</strong> Der Party</p>
        <p><strong>Synth:</strong> Ze Blakk Panzer</p>
        <p><strong>Bass:</strong> Ze Grand Vloridian</p>
        <p><strong>Guttarr:</strong> Ze Grand Vloridian &amp; Schlitzveiss</p>
        <p><strong>Rhyzm:</strong> Matt Welch (Das Boot)</p>
      </div>
    
      <div class="span12 song">
        <h3><em>Looking Zuper Martin Luther</em></h3>
        <p><strong>Synths:</strong> Ze Grand Vloridian, Ze Blakk Panzer &amp; Schlitzveiss</p>
      </div>
    
      <div class="span12 song">
        <h3><em>Sausage &amp; Borscht</em></h3>
        <p><strong>Vokals:</strong> Friedrich Ze Great</p>
        <p><strong>Synth:</strong> Au Bon PainKiller, DeutcheFlank Steak &amp; Redd Hillendorphen IV</p>
        <p><strong>Rhyzm:</strong> Phat Albert Timestein</p>
      </div>
    </div>
  </section>

  <section>
    <div class="row credits">
      <div class="span12">
        <div class="page-header">
          <h2>Ze Songs Zat Died</h2>
        </div>
        <ul>
          <li>Der After Party</li>
          <li>Saurkraut Rock</li>
          <li>(My Frauline Likes) Der Sakking of Rome</li>
          <li>Bach, Drop 'n Roll</li>
          <li>Za Ghost of Caspar David Fridrich est in Ais Haus</li>
          <li>Bavarian Nightz</li> 
          <li>Germ Fever</li>
          <li>Germs &amp; Fever</li>
          <li>Weiners &amp; Losers</li>
          <li>Let's Conquer Zis Party Like It's Poland</li>
          <li>I've Lost My iPad in Austria</li>
          <li>Koncentration Kampf</li>
          <li>Kamp Hillen</li>
          <li>Der Hillenkamp</li>
          <li>Kindergarten Kop</li>
          <li>Kurfuerstendamm Freeze Out</li>
          <li>Autobahn to Hell</li>
          <li>Franz Beckenbauer Blues</li>
          <li>I'll Be Zyour German Shepherd (My Little Lamb's Gone Astray)</li>
          <li>Mozther's Worst Bratwurst</li>
          <li>A Gute Nacht Upon My Yacht</li>
          <li>Will Zyou Be My New Totalitarian Ruler?</li>
          <li>Pedal to the Metal, Young Hansel and Gretel! (Biker Song)</li>
          <li>The Bros. Grimm's Sister's Tale</li>
          <li>Mein Porsche es Kaput (Let Us Drive Your Auto)</li>
          <li>Hanzel and Gretl Burn Down Your Haus</li>
          <li>Strudel Meet Mouth-hole (Then Go Inside)</li>
          <li>Der Anal Haus</li>
          <li>Immanuel Kant Swim</li>
          <li>The Jung and the Restless</li>
          <li>Ze EU ist No Longer Viable (We Shall Conquer It) (Along Wist Greece)</li>
          <li>Einstein's Trousers (are Relatively Clean)</li>
          <li>Dance the Dusseldorf!</li>
          <li>Take Your Wooden Shoes Off (Before Boarding der Mercedes)</li>
          <li>2 Guys, a Girl and a Weiner Place</li>
          <li>How Angela Merkel Met Steve Urkel</li>
          <li>Funzfig Ways to Leave Your Liebhaber</li>
          <li>Baby Likes to Bone in zeh Euro Zone</li>
          <li>It's Hard to Get a Loan in Zeh Euro Zone</li>
          <li>Darling You Look Wonderbar Tonight</li>
          <li>Vy? Vy Do You Sing?</li>
          <li>The Black Panzer</li>
        </ul>
      </div>
    </div>
    
    <div class="row credits">
      <div class="page-header">
        <h2>Das Picture Haus</h2>
      </div>
    </div>
        
    <div class="row">
      <div class="photo span12">
        <%= image_tag "der_party.gif", :alt => "welcome to der party"%>
      </div>
      
      <div class="photo span12">
        <%= image_tag "der_party.gif", :alt => "welcome to der party"%>
      </div>
    </div>    
  </section>
</div>